body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    width: 800px;
    margin: 0;
    color: #1A1A4C;
    border:0;
    padding:0;

}

h1 {
	color: #eee;
	font: 30px Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0px 1px black;
	text-align: center;
	margin-bottom: 50px;
}


h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

#hop
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 0 auto;
	width: 720px;
	text-align: left;
	border-collapse: collapse;
    text-decoration: none;
}

#hop td
{
	padding: 10px;
	color: #669;
	border-top: 1px solid #e8edff;
    text-align: left;
}    

.main-title {
    display: block;
    color: #B19FCF;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}
.post   {
    margin:0 auto;
}

#one-column-emphasis
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	margin: 0 auto;
	width: 720px;
	text-align: left;
	border-collapse: collapse;
    text-decoration: none;
}

#one-column-emphasis td
{
	padding: 10px;
	color: #669;
	border-top: 1px solid #e8edff;
    
}
.oce-first
{
	border-right: 80px solid transparent;
	border-left: 20px solid transparent;
}
#one-column-emphasis tr:hover td
{
	color: #339;
	background: #eff2ff;
}

.post-content {
    font-size:18px;
    text-decoration: none;
}

.post-src     {
    text-decoration: none;
    font-size:10px;
}

.post-date    {
    font-size:12px;
    text-decoration: none;
}

.post-heading   {
    text-decoration: none;
    font-size:16px;
    font-weight:bold;
}

.post-content {
    text-decoration: none;
    font-size: 12px;
}

.post-link    {
    text-decoration: none;
    color: #1A1A4C;
}

.age           {
    position: absolute;
    right: 0px;
    top: 0px;
}


#user {
    display: none;
}

#content{
    width: 35%;    
    margin: 0 auto;
}

