<!DOCTYPE HTML>
<head>
  <link type="text/css" rel="stylesheet" href="/assets/css/liscroll.css"/>    
</head>

<body>

<h2> Mehmet's IMKB Ticker</h2>

<div>    
  <ul id="imkb-ticker" class="imkb-ticker">        
  {% for i in items %}
    <li><span class="imkb-ticker-name">{{ i['NAME'] }}</span><span class="imkb-ticker-value">{{ i['ASK'] }}</span><span class="imkb-ticker-change">{{ i['CHANGE'] }}</span><span class="{{ i['CLASS'] }}">{{ i['SYMBOL'] }}</span> </li>
  {% endfor %}
  </ul>
  <span id="preloader" class="preloader"></span>
</div>

</body>



<script src="/assets/js/jquery-1.7.2.min.js"></script>
<script src="/assets/js/liScroll.js"></script>
<script src="/assets/js/imkb2.js"></script>



