<!DOCTYPE HTML>
<head>
  <link type="text/css" rel="stylesheet" href="/assets/css/info.css"/>
  <link type="text/css" rel="stylesheet" href="/assets/css/ticker-style.css"/>  

</head>

<div id="info">
  <div class="finance-info">
    <ul id="finance-info">
    </ul>
  </div>
  <br><br><br><br>
  <div class="weather-info">    
    <ul id="weather-info">
    </ul>
  </div>

  

</div>


<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="/assets/js/jquery.ticker.js"></script>

<script src="/assets/js/get_info.js"></script>
<script src="/assets/js/info.js"></script> 


