<div class="post">
        
    <table id='hop'>
        <tr>        
        <td class="post-heading">            
            <a href={{p.link}} class="post-link" target="_blank" >{{p.title}}</a>
        </td>       
        </tr>    
    </table>    



    <table id='one-column-emphasis'>    
        
    <colgroup>
    	<col class="oce-first" />
    </colgroup>

      <tr>        
         <td class="post-content">
           <a href={{p.link}} class="post-link"  target="_blank" >{{p.description | safe}}</a></td>        
        
        
        
                
        <td class="post-img">
         <a href={{p.link}} class="post-link" target="_blank" ><img src={{p.image}} alt={{p.title}} height="100px" width="140px"></a>
        </td>     
    
        <td class = post-src>
            {{p.src}}
        </td>

        <td class="post-date">
            {{p.pubDate.strftime("%X, %x")}}
        </td>

    </tr>
    <tr>
        <td>
           <a href={{p.link}} class="button2" id="b1">Haberi Görüntüle!</a>
        </td>
     </tr>
    </table>


</div>
